[project]
	description = Sistema de Controle de estoque do almoxarifado do DAELN UTFPR
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yurigava
	submit = group almoxdaeln-dev
[access "refs/for/refs/*"]
	read = group almoxdaeln-dev
	read = group user/yurigava
	push = group almoxdaeln-dev
	push = group user/yurigava
	label-Code-Review = -2..+2 group almoxdaeln-dev
	label-Code-Review = -2..+2 group user/yurigava
	label-Verified = -1..+1 group almoxdaeln-dev
	label-Verified = -1..+1 group user/yurigava
	rebase = group user/yurigava
	removeReviewer = group user/yurigava
	submit = group almoxdaeln-dev
	submit = group user/yurigava
[access "refs/heads/*"]
	read = group almoxdaeln-dev
	read = group user/yurigava
	create = group almoxdaeln-dev
	create = group user/yurigava
	push = +force group user/yurigava
	pushMerge = group user/yurigava
	label-Code-Review = -2..+2 group almoxdaeln-dev
	label-Verified = -1..+1 group almoxdaeln-dev
	submit = group almoxdaeln-dev
[access "refs/tags/*"]
	push = group almoxdaeln-dev
	push = group user/yurigava
	push = +force group user/yurigava
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
